<main class="home">

  <h1 class="h1">Adib <span class="last-name">Zidan</span></h1>

  <h2 class="h2">Full Stack Software Developer based in Vienna</h2>

  <section class="social-media">

    <a href="https://www.linkedin.com/in/adibzidan/" rel="nofollow" title="LinkedIn" target="_blank">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>

    <a href="https://github.com/AdibZidan" rel="nofollow" title="GitHub" target="_blank">
      <i class="fab fa-github fa-2x"></i>
    </a>

  </section>

</main>
