@import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
@import "../../../styles.scss";
@import "../../../assets/partials/media-queries/media-portfolio";

main {
  padding: 4rem;
  height: 100%;

  .social-media {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $primary-color;
        @include easeOut;
      }

      &:not(:hover) {
        @include easeIn;
      }
    }
  }

  &.home {
    overflow: hidden;
    .h1 {
      font-family: "Dancing Script", cursive;
      margin: 15vh 0 10px 0;
    }
  }
}

.home {
  color: #cacaca;
}

h1,
h2 {
  display: table;
  font-weight: 300;
  &.h1 {
    font-size: 6rem;
  }
  &.h2 {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background-color: lighten($color: $primary-background-color, $amount: 5);
  }
}

.last-name {
  font-family: "Dancing Script", cursive;
  color: $primary-color;
}

.social-media {
  margin-top: 1rem;
  font-size: 1.5rem;

  a {
    color: #cacaca;
    padding: 0.4rem;

    &:hover {
      color: $primary-color;
      @include easeOut;
    }

    &:not(:hover) {
      @include easeIn;
    }
  }
}

@include mobileScreenAndPortrait;
@include lowResolutionTablet;
@include tablet;
@include tabletAndLandscape;
@include desktop;
@include wideScreen;
