.navigation {
  display: flex;
  justify-content: space-around;
  background-color: rgb(130, 133, 168);
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding: 30px;
}

.navigation a:hover {
  color: #00c5be;
}
