<header class="header">

  <nav class="menu">

    <ul class="menu-navigation">

      <li class="navigation-item">
        <a [routerLink]="['/portfolio']" routerLinkActive="active" class="navigation-link">Portfolio</a>
        <i></i><i></i>
      </li>

      <li class="navigation-item">
        <a [routerLink]="['/about']" routerLinkActive="active" class="navigation-link">About</a>
        <i></i><i></i>
      </li>

      <li class="navigation-item">
        <a [routerLink]="['/task-manager']" routerLinkActive="active" class="navigation-link">Task Manager</a>
        <i></i><i></i>
      </li>

    </ul>

  </nav>

</header>