<footer>
  <p><strong>&copy; 2019 all rights reserved</strong></p>

  <nav>

    <a href="https://github.com/AdibZidan" target="_blank" title="My GitHub account">
      <img src="../../assets/GitHub-Mark/PNG/GitHub-Mark-Light-32px.png" alt="My GitHub link" class="github">
    </a>
    <a href="https://www.linkedin.com/in/adibzidan/" target="_blank" title="My Linked In account">
      <img src="../../assets/LinkedIN/In-White-14@2x.png" alt="My Linked in link" class="linkedin">
    </a>

  </nav>

</footer>