<footer>

  <p>All rights reserved 2019 &copy;</p>

  <nav>

    <div class="social-media">

      <a href="https://www.linkedin.com/in/adibzidan/" title="LinkedIn" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>

      <a href="https://github.com/AdibZidan" title="GitHub" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>

      <a href="https://www.facebook.com/Amsz94" title="Facebook" target="_blank">
        <i class="fab fa-facebook fa-2x"></i>
      </a>

      <a href="mailto: Amsz@windowslive.com" title="Amsz@windowslive.com">
        <i class="fas fa-at fa-2x"></i>
      </a>

    </div>

  </nav>

</footer>