@import "../../assets/partials/colors";

@import "../portfolio/portfolio.component.scss";

@import "../../assets/partials/animations";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
  color: #cacaca;
  background-color: lighten($color: $primary-background-color, $amount: 2);

  p {
    align-self: center;
  }

  @include socialMedia;

  a {
    text-decoration: none;

    &:hover {
      color: $primary-color;
      @include easeOut;
    }

    &:not(:hover) {
      @include easeIn;
    }
  }
}
