.selected {
  padding: 100px;
}

.delete {
  color: #aaa;
  // background-color: rgb(199, 80, 99);
  background-color: #2d3436;
  float: right;
  padding: 4px 8px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  border: 1px solid rgb(199, 80, 99);
  outline: none;
}

.delete:hover {
  // background-color: rgb(199, 80, 99);
  // border: 1px solid #2d3436;
  color: #00c5be;
}

.todo {
  padding: 25px 10px;
  border-bottom: 1px solid #dfe6e9;
  // border-bottom: 1px solid #CCC;
}

.is-complete {
  text-decoration: line-through;
  text-decoration-color: rgb(199, 80, 99);
}

p {
  font-size: 20px;
}
