@import "./colors";

@import "./checkmark";

@import "./task-manager/mobile-&-portrait";

@import "./task-manager/low-resolution-tablet";

@import "./task-manager/tablet";

@mixin mobile-screen-and-portrait {
  @media (min-width: 320px) and (max-width: 480px) {
    @include mobile;
  }
}

@mixin low-resolution-tab-let {
  @media (min-width: 481px) and (max-width: 767px) {
    @include low-resolution-tablet;
  }
}

@mixin tab-let {
  @media (min-width: 768px) and (max-width: 1024px) {
    @include tablet;
  }
}

@mixin tab-let-and-landscape {
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  }
}

@mixin desk-top {
  @media (min-width: 1025px) and (max-width: 1280px) {
  }
}

@mixin wide-screen {
  @media (min-width: 1281px) {
  }
}
