<section class="about">
  <div class="inner">
    <section>
      <h2 class="h2">Hello!</h2>

      <p class="p">
        My name is Adib Zidan, I'm half-Syrian and half-Ukrainian based in Vienna, Austria and I'm {{ age }} years old.
      </p>

      <ul class="languages">
        I speak 4 languages:
        <ng-container *ngFor="let language of languages">
          <li>
            {{ language }}
          </li>
        </ng-container>
      </ul>

      <p class="p">
        During my free time, I either; lift heavy weights, read books or enhance my programming skills.
      </p>

      <p class="p">I also graduated from the
        <a href="https://www.newaustriancodingschool.at/" title="New Austrian Coding School" target="_blank">
          New Austrian Coding School
        </a>
        on the 28th of June, 2019 and I'm more than proud that I'm finally a software developer specializing in Front-End Development!
      </p>
    </section>

    <hr>

    <section>
      <h2 class="h2">Opportunities and Challenges</h2>

      <p class="p">
        During the very intensive 9 month training program, I had the opportunity to always
        work extra-hours after class to enhance my programming skills.
      </p>

      <p class="p">
        These extra-hours have tremendously improved my work ethic, increased both my mental and physical
        strength and also enhanced my passion and love for technology and coding!
      </p>

      <p class="p">What also made me to even push for more, was my previous experiences working as a waiter and lifting heavy weights
        at the gym! Both were very challenging in terms of discovering my true potential and to never back down from any challenge!
      </p>
    </section>

    <hr>

    <section>
      <h2 class="h2">Final Project - Humanitarian clothing portal</h2>

      <p class="p">
        I had the opportunity to work with 6 wonderful people and we created an application called Apparel.
      </p>

      <p class="p">
        The team consisted of 7 total members; 2 Product Owners, 3 Back-End & 2 Front-End developers.
      </p>

      <p class="p">
        Apparel is a web-application where a humanitarian organization can offer apparel to those in need.
      </p>

      <p class="p">
        The humanitarian organization receives donated clothing and the users of the application can
        select the clothing they need from the catalogue and mark them as reserved.
      </p>

      <p class="p">
        The users can then go to the apparel warehouse and receive them.
      </p>

      <p class="p">
        In the future, volunteers could sign up to deliver these apparels to the
        location of the person in need via geolocation.
      </p>

      <p class="p">
        It was developed with a microservice infrastructure and Scrum.
      </p>
    </section>

    <hr>

    <h2 class="h2">My Technology Stack</h2>

    <section class="technologies">
      <div class="technologies-1 technologies-2">
        <ul class="technology-stack">
          <span>Front-End:</span>
          <ng-container *ngFor="let frontEndStack of frontEndStacks">
            <li>
              {{ frontEndStack }}
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="technologies-1 technologies-2">
        <ul class="technology-stack">
          <span>Back-End:</span>
          <li>
            {{ backEndStack }}
          </li>
        </ul>
      </div>

      <div class="technologies-1 technologies-2">
        <ul class="technology-stack">
          <span>Other:</span>
          <ng-container *ngFor="let otherStack of otherStacks">
            <li>
              {{ otherStack }}
            </li>
          </ng-container>
        </ul>
      </div>
    </section>

    <div
      class="arrow"
      [class.is-shown]="isArrowShown"
      (click)="scrollToTop()">
      <i
        class="fas fa-arrow-up fa-1x"
        title="Scroll up">
      </i>
    </div>
  </div>
</section>

<app-footer></app-footer>
