<header class="title">
  <h2>
    What's your task?
  </h2>
</header>

<main class="tasks">
  <p>
    <ng-container *ngIf="date$ | async as date">
      <span class="remove date">
        Today is: {{ date | date : 'mediumDate' }} and it's {{ date | date : 'mediumTime' }}
      </span>
    </ng-container>
  </p>

  <app-form></app-form>

  <ng-container *ngIf="numberOfTasksMessage$ | async as numberOfTasksMessage">
    <p>
      <span class="remove">
        {{ numberOfTasksMessage }}
      </span>
    </p>
  </ng-container>

  <app-body></app-body>
</main>
