.outer {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 600px;
  height: 350px;
  background-color: #d3d3d3;
}

.form ::placeholder {
  color: #aaa;
  padding-left: 5px;
  border: none;
}

.form .input:hover::-webkit-input-placeholder {
  color: #00c5be;
}

.input {
  background-color: #2d3436;
  cursor: pointer;
}

.input:active {
  background-color: #2d3436;
}

.input {
  width: 100%;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  color: #ccc;
}

.input:focus {
  outline: none;
}

.invalid {
  padding: 20px;
  color: rgb(199, 80, 99);
  text-align: center;
  font-size: 2em;
}

.inner {
  display: flex;
  justify-content: space-around;
  background-color: #2d3436;
  border-radius: 10px;
  padding: 5px;
  flex-direction: column;
}

.label {
  align-self: flex-start;
  padding-bottom: 5px;
}

.checkbox {
  align-self: center;
}

.completed {
  color: #aaa;
  width: 100px;
}
