@mixin low-resolution-tablet {
  footer {
    margin-top: 40px;
    padding: 30px;
    font-size: 1.2rem;
    flex-direction: column;

    .social-media {
      display: flex;
      font-size: 0.8rem;
      margin: 0;

      a {
        padding: 0.4rem;
        font-size: 1.2rem;
      }
    }
  }
}
