<div class="outer">
  <form
    [formGroup]="formGroup"
    (ngSubmit)="onSubmit()">

    <app-input
      formControlName="title"
      [label]="'Title'"
      [type]="'text'"
      [placeholder]="'Task *'">
    </app-input>

    <app-input
      formControlName="description"
      [label]="'Description'"
      [type]="'text'"
      [placeholder]="'Description *'">
    </app-input>

    <app-input
      formControlName="percentage"
      onkeydown="return event.keyCode !== 69"
      [className]="'percentage'"
      [label]="'Percentage'"
      [type]="'number'"
      [placeholder]="'Percentage'">
    </app-input>

    <div class="inner form-inner">
      <label for="completed">
        <span class="completed">Completed?</span>
      </label>
    </div>

    <div class="checkbox">
      <label class="container">
        <input
          type="checkbox"
          formControlName="isComplete">

        <span
          class="checkmark">
        </span>
      </label>
    </div>

    <button
      [disabled]="formGroup.invalid"
      [class.disabled]="formGroup.invalid"
      class="submit"
      type="submit">
      SUBMIT
    </button>
  </form>
</div>
