@import "../body/body.component.scss";
@import "../../../../assets/partials/colors";
@import "../../../../assets/partials/media-queries/media-task-manager";

.outer {
  display: flex;
  justify-content: center;

  padding-top: 5px;
}

.form {
  width: 500px;
  padding: 10px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  ::placeholder {
    padding-left: 10px;
    border: none;

    color: #cacaca;
  }

  .input:hover::-webkit-input-placeholder {
    color: $primary-color;
  }

  .input {
    -moz-appearance: textfield;

    cursor: pointer;

    margin: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid $primary-background-color-lighten;
    border-radius: 10px;

    font-size: 20px;

    background-color: $primary-background-color;
    color: #cacaca;
  }

  .input:active {
    background-color: $primary-background-color;
  }

  .input:focus {
    outline: none;
  }
}

.container {
  margin-left: 7px;
}

.checkbox {
  height: 33px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  border-radius: 5px;

  border: 1px solid $primary-background-color;

  background-color: $primary-background-color;
}

.container input:checked ~ .checkmark {
  background-color: $primary-background-color;
}

.percentage::-webkit-inner-spin-button,
.percentage::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.invalid {
  padding-top: 15px;

  color: #cacaca;
  text-align: center;
  font-size: 1.6em;
}

.inner {
  margin: 5px;

  display: flex;
  justify-content: space-around;
  flex-direction: column;

  background-color: $primary-background-color;
  border: 1px solid $primary-background-color;
  border-radius: 10px;

  padding: 5px;
}

.label {
  padding-bottom: 5px;
}

.checkbox {
  align-self: center;
  cursor: pointer;
}

.completed {
  color: #cacaca;

  &:hover {
    color: $primary-color;
  }
}

.error {
  padding-top: 10px;
}

.submit {
  margin: 10px;
  padding: 10px;
  cursor: pointer;

  background-color: $primary-background-color;
  color: #cacaca;

  width: 70px;
  border: 1px solid $primary-background-color;
  border-radius: 10px;
  outline: none;
  letter-spacing: 1px;

  transition: transform 120ms ease-in;

  &:hover:not(.disabled) {
    color: $primary-color;
  }

  &:active {
    transform: scale(0.95);
  }

  &:disabled {
    opacity: 0.5;
  }
}

.disabled:hover {
  cursor: not-allowed;
}

@include mobile-screen-and-portrait;
@include low-resolution-tab-let;
@include tab-let;
