@import "../body/body.component.scss";
@import "../../../../assets/partials/colors";
@import "../../../../assets/partials/media-queries/media-task-manager";

div {
  &.outer {
    display: flex;
    justify-content: center;
    padding-top: 5px;

    form {
      width: 500px;
      padding: 10px;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      app-input {
        width: 100%;
      }

      button {
        &.submit {
          margin-top: 10px;
          padding: 10px;
          cursor: pointer;

          background-color: $primary-background-color;
          color: #cacaca;

          width: 70px;
          border: 1px solid $primary-background-color;
          border-radius: 10px;
          outline: none;
          letter-spacing: 1px;

          transition: transform 120ms ease-in;

          &:hover:not(.disabled) {
            color: $primary-color;
          }

          &:active {
            transform: scale(0.95);
          }

          &:disabled {
            opacity: 0.5;

            &:hover {
              cursor: not-allowed;
            }
          }
        }
      }
    }
  }

  &.inner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px;
    background-color: $primary-background-color;
    border: 1px solid $primary-background-color;
    border-radius: 10px;
    padding: 5px;

    label {
      padding-bottom: 5px;

      span {
        &.completed {
          color: #cacaca;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
}

.checkbox {
  height: 33px;
}

.container {
  margin-left: 7px;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  border-radius: 5px;
  border: 1px solid $primary-background-color;
  background-color: $primary-background-color;
}

.container input:checked ~ .checkmark {
  background-color: $primary-background-color;
}

.checkbox {
  align-self: center;
  cursor: pointer;
}

@include mobile-screen-and-portrait;
@include low-resolution-tab-let;
@include tab-let;
