@import "../../../assets/partials/colors";

@import "../../../assets/partials/media-task-manager";

.title {
  max-width: 900px;
  margin: auto;
  margin-top: 60px;
  padding: 30px 20px;

  display: flex;
  justify-content: center;

  color: #cacaca;
  background-color: $primary-background-color-lighten;
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 1);
  border-radius: 10px 10px 0 0;
  h2 {
    font-size: 3em;
    text-transform: uppercase;
  }

  h2::first-letter {
    color: $primary-color-lighten;
  }
}

.tasks {
  max-width: 900px;
  margin: auto;
  margin-bottom: 60px;
  min-height: 450px;

  color: $primary-color-lighten;
  background-color: $primary-background-color-lighten;
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 1);

  p {
    padding: 10px;
    color: #cacaca;
  }

  .remove {
    padding: 5px;

    background-color: $primary-background-color-lighten;
    border: 1px solid $primary-background-color;
    border-radius: 5px;
  }
}

@include mobile-screen-and-portrait;

@include low-resolution-tab-let;
