<div class="outer">

  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <input class="input" type="text" placeholder="Task" formControlName="title">

    <ng-container *ngIf="title.invalid && (title.dirty || title.touched)">

      <ng-container *ngIf="title.errors.minlength">
        Minimum of 3 characters is required
      </ng-container>

    </ng-container>

    <input class="input" type="text" placeholder="Description" formControlName="description">

    <ng-container *ngIf="description.invalid && (description.dirty || description.touched)">

      <ng-container *ngIf="description.errors.minlength">
        Minimum of 6 characters is required
      </ng-container>

    </ng-container>

    <input class="input percentage" type="number" placeholder="Percentage" [pattern]="validNumberPattern"
      formControlName="percentage">

    <ng-container *ngIf="percentage.invalid && (percentage.dirty || percentage.touched)">

      <ng-container *ngIf="validNumberPattern">
        Between 1 and 100 is allowed
      </ng-container>

    </ng-container>

    <div class="inner">

      <label class="label" for="completed"><span class="completed">Completed?</span></label>

    </div>

    <div class="checkbox">

      <label class="container">

        <input type="checkbox" formControlName="completed">
        <span class="checkmark"></span>

      </label>

    </div>

    <app-add-button (click)="onClick()"></app-add-button>
    <p class="error">{{ errorMessage }}</p>

  </form>

</div>