<div class="outer">

  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <input class="input" type="text" placeholder="Add a task..." formControlName="title">

    <div class="inner">
      <label class="label" for="completed"><span class="completed">Completed?</span></label>
      <input class="checkbox" type="checkbox" formControlName="completed">
    </div>

    <app-add-button></app-add-button>

  </form>

</div>

<ng-container *ngIf="!isValidForm">

  <p class="invalid"><strong>FORM IS INVALID!</strong></p>

</ng-container>