<header class="header">

  <nav class="menu">

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <ul class="menu-navigation">

      <li class="navigation-item">
        <a [routerLink]="['/portfolio']" routerLinkActive="active" class="navigation-link">Portfolio</a>
        <i></i><i></i>
      </li>

      <li class="navigation-item">
        <a [routerLink]="['/about-me']" routerLinkActive="active" class="navigation-link">About Me</a>
        <i></i><i></i>
      </li>

      <li class="navigation-item task-manager">
        <a [routerLink]="['/task-manager']" routerLinkActive="active" class="navigation-link">Task Manager</a>
        <i></i><i></i>
      </li>

    </ul>

  </nav>

</header>
