@import "../../../styles.scss";

@import "../../../assets/partials/media-queries/media-header";

.header {
  width: 100%;
  background-color: lighten($color: $primary-background-color, $amount: 2);

  .menu-navigation {
    display: flex;
    position: relative;
    justify-content: space-around;
    padding: 30px;

    .navigation-item {
      text-decoration: none;
      list-style: none;
    }
  }

  .navigation-item {
    position: relative;

    i {
      display: block;
      width: 100%;
      height: 1px;
    }

    i:nth-child(2) {
      position: absolute;
      background-color: $primary-color;
      width: 0;
      transition: width 1s ease;
    }

    &:hover i:nth-child(2) {
      width: 100%;
    }
  }

  .navigation-link {
    color: #cacaca;
    text-decoration: none;

    &:hover {
      color: $primary-color;
      @include easeOut();
    }

    &:not(:hover) {
      @include easeIn;
    }
  }

  .active {
    color: $primary-color;
    @include easeIn;

    &:hover {
      color: #cacaca;
      @include easeOut;
    }
  }
}

@include mobileScreenAndPortrait;

@include lowResolutionTablet;

@include tablet;
