.section {
  position: relative;
  height: 39px;
  padding-right: 66px;
}

.button {
  color: #aaa;
  background-color: #2d3436;
  border: 1px solid #2d3436;
  border-radius: 10px;
  box-shadow: 0px 5px 0px rgb(199, 80, 99);
  position: absolute;
  bottom: 0;
  left: 0;
  outline: none;
  padding: 10px;
  width: 70px;
  cursor: pointer;
}

.button:active {
  box-shadow: 0 1px 0 #2d3436;
  bottom: -4px;
}

.button:hover {
  color: #00c5be;
}
