.button {
  margin-top: 1px;
  padding: 10px;
  cursor: pointer;

  background-color: #512da8;
  color: #fff;

  width: 70px;
  border: 1px solid #2d3436;
  border-radius: 10px;
  outline: none;
  letter-spacing: 1px;

  transition: transform 120ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:hover {
  color: #00c5be;
}

