.button {
  float: right;

  // margin-top: 7px;
  // padding: 4px 8px;
  padding: 10px;
  cursor: pointer;

  background-color: #512da8;
  color: #fff;

  border-radius: 10px;
  border: none;
  outline: none;
  letter-spacing: 1px;

  transition: transform 120ms ease-in;
}

.button:hover {
  color: #00c5be;
}

.button:active {
  background-color: rgb(199, 80, 99);
  color: #ccc;

  transform: scale(0.95);
}

.edit {
  margin-right: 10px;
}

.edit:active {
  background-color: #512da8;
}
