@mixin desk-top {
  main {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    &.home {
      .h1 {
        margin: 2rem 0 4rem 0;
        line-height: 1;
      }
    }
  }

  .social-media {
    font-size: 2.2rem;
  }
}
