@mixin mobile-and-portrait {
  main {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &.home {
      .h1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1;
        margin: 0.9rem 0 2rem 0;
      }

      .h2 {
        font-size: 2rem;
      }
    }

    .social-media {
      display: flex;
      justify-content: center;
    }
  }
}
