@import "../../../assets/partials/colors";

@import "../../../assets/partials/checkmark";

@import "../../../assets/partials/media-task-manager";

.tasks {
  max-width: 960px;
  margin: auto;
  padding: 40px;

  border-top: 1px solid $primary-background-color;

  .task {
    max-width: 900px;
    padding: 25px 10px;

    font-size: 20px;
    word-wrap: break-word;
  }

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    color: #cacaca;

    div {
      width: 250px;
    }
  }

  .button {
    float: right;

    padding: 10px;
    cursor: pointer;

    background-color: $primary-background-color;
    color: #cacaca;

    border-radius: 10px;
    border: none;
    outline: none;
    letter-spacing: 1px;

    transition: transform 120ms ease-in;

    &:hover {
      color: rgb(199, 80, 99);
    }

    &:active {
      background-color: rgb(199, 80, 99);
      color: #cacaca;

      transform: scale(0.95);
    }
  }
}

.container {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  word-break: break-word;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}

.checkbox {
  cursor: pointer;
}

.percentage {
  display: inline-block;
  margin: 5px;
  padding: 1px;

  color: $primary-color;

  font-size: 18px;
}

.description {
  text-overflow: initial;
  white-space: initial;
  overflow: hidden;
}

.text {
  display: inline-block;
}

@keyframes lineThrough {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
  100% {
    opacity: 0.5;
  }
}

.is-complete {
  text-decoration: line-through;
  text-decoration-color: rgb(199, 80, 99);
  animation: lineThrough 2.5s forwards;
}

@include checkMark;

@include mobileScreensAndPortrait;

@include lowResolutionTablet;
