<section @fadeIn class="tasks">

  <article class="task">

    <h2>
      {{ task.title }}

      <div>

        <button class="button disabled" disabled (click)="onDelete(task)">X</button>

        <app-dialog [task]="task" (save)="onEdit($event)"></app-dialog>

      </div>

    </h2>

    <label class="container" *ngIf="task.description">

      <input type="checkbox" [checked]="task.completed" (click)="onToggleFromUI(task)"
        (click)="onToggleFromBackEnd(task)" *ngIf="task.description">

      <p class="text" [ngClass]="setLineThrough()">

        <span class="percentage" *ngIf="task.percentage">
          {{ task.percentage }}%
        </span>

        <span *ngIf="task.description">
          {{ task.description }}
        </span>

      </p>

      <span class="checkmark"></span>

    </label>

  </article>

</section>