@mixin mobile-and-portrait {
  .about {
    width: 95%;
    align-content: center;
    align-items: center;

    .inner {
      .h2 {
        font-size: 2rem;
        padding: 0.7rem;
      }

      hr {
        margin: 20px 10px;
      }

      .p,
      ul,
      li {
        line-height: 2.2;
        font-size: 0.9rem;
      }

      .technologies {
        margin-bottom: 10px;
      }

      .arrow {
        display: none;
      }
    }
  }
}
