@mixin mobile-and-portrait {
  .about {
    width: 85%;
    align-content: center;
    align-items: center;

    .inner {
      .h2 {
        font-size: 3rem;
        padding: 0.7rem;
      }

      hr {
        margin: 20px 10px;
      }

      .p,
      ul,
      li {
        line-height: 2.2;
      }

      .languages,
      p {
        text-align: justify;
      }

      .technologies {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .technologies-1 {
          align-self: center;
          width: 100%;
          margin: 10px;
          background-color: lighten($color: $primary-background-color, $amount: 0.6);

          span {
            font-size: 1.9rem;
          }
        }
      }

      .arrow {
        display: none;
      }
    }
  }
}
