@mixin mobile-and-portrait {
  .header {
    font-size: 0.8rem;

    .menu {
      position: fixed;
      top: 0;
      left: 3px;
      z-index: 2;

      aside {
        position: fixed;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40vw;
        height: 100.8vh;
        background-color: $primary-background-color-lighten;
        opacity: 0.98;

        a {
          font-size: 1.2rem;
          margin: 50px 0;
        }

        .show {
          width: 200px;
        }

        .hide {
          width: 0;
        }
      }

      div {
        width: 35px;
        height: 5px;
        background-color: #f4a950;
        margin: 6px 0;
      }
    }

    .menu-navigation {
      display: none;
      justify-content: space-around;
      padding: 20px;

      .navigation-item {
        i:nth-child(2) {
          width: 0;
          transition-property: none;
        }

        &:hover i:nth-child(2) {
          width: 0;
        }
      }

      .navigation-link {
        &:hover {
          transition-property: none;
        }

        &:not(:hover) {
          transition-property: none;
        }
      }

      .active {
        transition-property: none;

        &:hover {
          transition-property: none;
        }
      }
    }
  }
}
