@import url("https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap");

@import "../../../assets/partials/colors";

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 960px;
  margin: 1rem auto;
  color: #cacaca;

  .inner {
    padding: 0.6rem;
    width: 100%;

    .h2 {
      font-family: "Cedarville Cursive", cursive;
      font-size: 4rem;
      padding: 1.9rem;
      text-align: center;
      color: $primary-color;
    }

    hr {
      margin: 125px;
      border-color: $primary-color;
    }

    .p,
    ul,
    li {
      line-height: 3;
      font-size: 1.3rem;
    }

    li {
      display: inline;
      list-style-type: none;
    }

    a {
      color: $primary-color;
      font-style: italic;

      &:hover {
        color: #cacaca;
      }
    }
  }
}
