<main>

  <p>My name is Adib Zidan and I'm Syrian/Ukrainian. I'm 24 years old and I've been living in Austria for the past 5
    years.</p>
  <p>I'm also an upcoming Front-End Developer based in Vienna who'll graduate
    on the 28th of June from <a href="https://www.newaustriancodingschool.at/" target="_blank"><em>New Austrian Coding
        School</em></a> !</p>

  <p>I'm more than grateful to be given this one in a life time opportunity to become a developer in the near future. My
    life motto is 'always Kaizen' which is a Japanese word, that means 'Change for better'.</p>

  <ul>
    <span>My specialties include:</span>
    <li *ngFor="let specialty of specialties"> {{ specialty }}</li>
  </ul>
  <ul>
    <span>My hobbies are:</span>
    <li *ngFor="let hobby of hobbies"> {{ hobby }} </li>
  </ul>

</main>

<app-footer></app-footer>

<!-- <div class="information">
  <img src="../../../assets/Adib/Adib.jpg" alt="Adib Zidan">
</div> -->

<!-- 
<div class="lta">

  <div class="lta-wrapper">

    <h1 class="lta-r1">
      <span class="lta-source">Adib Zidan</span>
      Live, travel,
    </h1>

    <h2 class="lta-r2">
      adventure, bless,
    </h2>

    <h3 class="lta-r3">
      and don’t be sorry.
    </h3>

  </div>

</div> -->