.main-container {
  display: flex;
  justify-content: center;
  background-color: #5995da;
  padding: 40px;
  color: #fff;
}

.navigation {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  background-color: #98bde8;
}

.navigation a {
  color: #fff;
  text-decoration: none;
  padding-right: 10px;
}

.navigation a:hover {
  color: rgb(92, 92, 161);
  text-decoration: underline;
}
