
<ng-container *ngFor="let task of tasks$ | async">
  <section class="tasks">
    <article class="task">
      <h2>
        {{ task.title }}

        <div>
          <button
            class="button"
            (click)="deleteOne(task.id)">
            &times;
          </button>

          <app-dialog
            [task]="task">
          </app-dialog>
        </div>
      </h2>

      <label class="container">
        <input
          type="checkbox"
          (click)="setIsCompleted(task)"
          [checked]="task.isComplete">

        <p
          class="text"
          [class.is-complete]="task.isComplete">

          <span class="percentage">
            {{ task.percentage }}%
          </span>

          <span>
            {{ task.description }}
          </span>
        </p>

        <span
          class="checkmark">
        </span>
      </label>
    </article>
  </section>
</ng-container>
