@import "../header/-mobile-and-portrait.scss";

@import "../header/low-resolution-tablet";

@import "../header/tablet";

@mixin mobileScreenAndPortrait {
  @media (min-width: 320px) and (max-width: 480px) {
    @include mobile-and-portrait;
  }
}

@mixin lowResolutionTablet {
  @media (min-width: 481px) and (max-width: 767px) {
    @include low-resolution-tablet;
  }
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @include tab-let;
  }
}
