@mixin low-resolution-tablet {
  // MainComponent
  .title {
    max-width: 450px;
    margin-top: 50px;

    h2 {
      font-size: 2.1rem;
      text-align: center;
    }
  }

  .remove {
    font-size: 0.7rem;
  }

  .tasks {
    max-width: 450px;
    min-height: 100%;

    p {
      font-size: 1rem;
    }
  }
  // ---

  // FormComponent
  .form {
    width: 350px;

    ::placeholder {
      font-size: 1rem;
    }

    .input {
      font-size: 1rem;
    }

    span {
      font-size: 0.9rem;
    }
  }

  .checkmark {
    height: 20px;
    width: 25px;
  }

  .container .checkmark:after {
    left: 8px;
    top: 1px;
  }

  .label {
    padding: 0;
    font-size: 0.6rem;
  }

  .submit {
    margin: -5px 0 0 0;
    padding: 8px;
    font-size: 0.7rem;
  }
  // ---

  // BodyComponent
  .tasks {
    padding: 5px;
    font-size: 0.7rem;

    .task {
      font-size: 0.7rem;
      padding: 10px 0;
      width: 100%;

      div {
        margin-top: 5px;
        float: right;
        width: 100px;
      }

      span {
        font-size: 1.1rem;
      }
    }

    h2 {
      display: inline-block;
      word-break: break-word;
      font-size: 1.3rem;
      text-overflow: ellipsis;
      width: 100%;
    }

    .button {
      padding: 3px;
    }

    .checkmark {
      height: 20px;
      width: 25px;
      top: 9px;
      left: 0;
    }

    .checkmark:after {
      left: 8px;
      top: 1px;
    }
  }

  .container {
    display: block;
    width: 100%;
    font-size: 20px;
  }
  // ---

  // DialogComponent
  .button {
    padding: 3px;

    border-radius: 5px;
    letter-spacing: 0;
    font-size: 0.7rem;
  }

  .edit {
    &:active {
      color: $primary-color;
      background-color: $primary-background-color;
    }
  }

  .dialog .mat-dialog-container {
    width: 100%;
  }
  // ---
}
