div.title {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: black;
}

h2 {
  border-bottom: 1px solid #aaa;
  font-size: 2em;
}

h2::first-letter {
  color: rgb(199, 80, 99);
}

.paragraph {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 24px;
}
