div.title {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: black;
}

h2 {
  border-bottom: 1px solid #aaa;
  font-size: 2em;
}

h2::first-letter {
  color: rgb(199, 80, 99);
}

.todo {
  padding: 25px 10px;
  border-bottom: 1px solid #dfe6e9;
  font-size: 20px;
}

.todos {
  padding: 20px;
}

.is-complete {
  text-decoration: line-through;
  text-decoration-color: rgb(199, 80, 99);
}

.section {
  background-color: #fff;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

// .test {
//   width: 900px;
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }
