.title {
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  max-width: 900px;
  padding: 30px 20px;
  color: #aaa;
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 1);
}

p {
  padding: 10px;
}

p span {
  color: black;
  border-bottom: 1px solid #2d3436;
}

h2 {
  font-size: 3em;
}

.todos {
  max-width: 900px;
  margin: auto;
  margin-bottom: 60px;
  background-color: #aaa;
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 1);
  min-height: 300px;
}
