.title {
  margin: auto;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  max-width: 900px;
  padding: 30px 20px;
  background-color: #aaa;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

h2 {
  font-size: 3em;
}

h2::first-letter {
  color: rgb(199, 80, 99);
}

.todos {
  max-width: 900px;
  margin: auto;
  margin-bottom: 60px;
  background-color: #aaa;
  box-shadow: -2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 66vh;
}
