@import "../../portfolio/portfolio.component.scss";

@import "../../../assets/partials/colors";

@import "../../../assets/partials/animations";

@import "../../../assets/partials/media-footer";

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 1.2rem;
  color: #cacaca;
  background-color: lighten($color: $primary-background-color, $amount: 2);

  .under-construction {
    color: $primary-color;
  }

  .tools {
    margin-left: 5px;
  }

  p {
    align-self: center;
  }

  @include socialMedia;

  a {
    text-decoration: none;

    &:hover {
      color: $primary-color;
      @include easeOut;
    }

    &:not(:hover) {
      @include easeIn;
    }
  }
}

@include mobileScreenAndPortrait;

@include lowResolutionTablet;

@include tablet;