<footer>

  <p>&copy; {{ currentYear }} All rights reserved.</p>

  <p class="under-construction">
    This project is still a work in progress
    <i class="fas fa-tools tools"></i>
  </p>

  <nav>

    <section class="social-media">

      <a href="https://www.linkedin.com/in/adibzidan/" title="LinkedIn" target="_blank">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>

      <a href="https://github.com/AdibZidan" title="GitHub" target="_blank">
        <i class="fab fa-github fa-2x"></i>
      </a>

      <a href="https://www.facebook.com/Amsz94" title="Facebook" target="_blank">
        <i class="fab fa-facebook fa-2x"></i>
      </a>

      <a href="mailto: Amsz@windowslive.com" title="Amsz@windowslive.com">
        <i class="fas fa-at fa-2x"></i>
      </a>

    </section>

  </nav>

</footer>
