<section class="todos">

  <article class="todo">

    <h2>
      {{ todo.title }}

      <button class="button" (click)="onDelete(todo)">X</button>

      <button class="button edit" (click)="onEdit(todo)">EDIT</button>

    </h2>

    <p [ngClass]="setLineThrough()">
      <input class="checkbox" type="checkbox" [checked]="todo.completed" (click)="onToggle(todo)"
        *ngIf="todo.description || !setLineThrough()">

      <span class="percentage" *ngIf="todo.percentage">
        {{ todo.percentage }}%
      </span>

      <span *ngIf="todo.description">
        {{ todo.description }}
      </span>

    </p>

  </article>

</section>