<section class="todos">

  <article class="todo">

    <h2>
      {{ todo.title }}

      <button class="button" (click)="onDelete(todo)">X</button>

      <button class="button edit" [routerLink]="['/', 'edit-todo', todo.id]">EDIT</button>

    </h2>

    <label class="container" *ngIf="todo.description">

      <input type="checkbox" [checked]="todo.completed" (click)="onToggle(todo)" *ngIf="todo.description">

      <p class="text" [ngClass]="setLineThrough()">

        <span class="percentage" *ngIf="todo.percentage">
          {{ todo.percentage }}%
        </span>

        <span *ngIf="todo.description">
          {{ todo.description }}
        </span>

      </p>

      <span class="checkmark"></span>

    </label>

  </article>

</section>