.todos {
  max-width: 960px;
  margin: auto;
  padding: 40px;

  border-top: 1px solid #2d3436;
}

.todo {
  max-width: 900px;
  padding: 25px 10px;

  font-size: 20px;
  word-wrap: break-word;
}

.checkbox {
  cursor: pointer;
}

.percentage {
  margin: 5px;
  padding: 1px;

  background-color: #512da8;
  color: #fff;

  font-size: 18px;
}

h2 {
  margin-bottom: 10px;

  color: #cacaca;
}

.description {
  color: #fff;

  text-overflow: initial;
  white-space: initial;
  overflow: hidden;
}

.button {
  float: right;

  // margin-top: 7px;
  // padding: 4px 8px;
  padding: 10px;
  cursor: pointer;

  background-color: #512da8;
  color: #fff;

  border-radius: 10px;
  border: none;
  outline: none;
  letter-spacing: 1px;

  transition: transform 120ms ease-in;
}

.button:hover {
  color: #00c5be;
}

.button:active {
  background-color: rgb(199, 80, 99);
  color: #ccc;

  transform: scale(0.95);
}

.edit {
  margin-right: 10px;
}

.edit:active {
  background-color: #512da8;
}

@keyframes lineThrough {
  from {
    text-decoration-color: transparent;
  }
  to {
    text-decoration-color: auto;
  }
  100% {
    color: black;
    opacity: 0.5;
  }
}

.is-complete:not(button) {
  text-decoration: line-through;
  text-decoration-color: rgb(199, 80, 99);
  animation: lineThrough 2.5s forwards;
}

// -------------------------------------------------------------- //

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  // padding-left: 25px;
  // margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 5px;

  background-color: #512da8;
}

.container:hover input ~ .checkmark {
  background-color: #512da8;
}

.container input:checked ~ .checkmark {
  background-color: #673ab7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
