@import "~pretty-checkbox/src/pretty-checkbox.scss";

label {
  font-size: 25px;
}

div {
  display: flex;
  flex-direction: column;
  width: 100px;
}

// .section {
//   background-color: #fff;
//   border: 1px solid red;
//   display: flex;
//   justify-content: space-around;
//   width: 100%;
// }
